body{
    background-color: pink;
    width: 100%;
    overflow-x: hidden;
}
/* a{ 
    text-decoration: none;
    color: black;
}
.lainnya{
    float: right;
    margin-top: -80px;
    margin-left: 0px;
    margin-right: 155px;
    padding: -5px;
}
.dapur{
    font-style: italic;
    color: pink;
    font-size: 21px;
    margin-right: -25%;
    font-family: 'Times New Roman', Times, serif;
}
li{list-style-type: none;
    margin: auto;
    float: left;
    margin: 30px;
    padding: 20px;
    margin-top: -10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tambahan{
    margin-left: 80px;
    margin-top: -80px;
}
.profil{
    margin-right: 170px;
    margin-left: -60px;
    float: right;
    margin-top: -80px;
}
.kembali{
    margin-left: 80px;
    margin-right: -40px;
    margin-top: -80px;
}*/
nav{
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}    
.main-1{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
    padding: 80px;
    
}
ul li{
    display: inline;
    list-style: none;
    float: left;
    margin-bottom: 1%;
    font-weight: bold;
}
.dapur{
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kecil{
    font-size: 14px;
}
.pesan{
    margin-top: 4px;
}
.info-ngab{
    margin-right: -11px;
}
.stok{
    margin-left: 37%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8%;
}
.box{
    margin-left: 230px;
    margin-top: -280px;
}
.tersisa{
    font-weight: bold;
    font-size: 18px;
    margin-top: 80px;
}
.box1{
    margin-top: 50px;
    background-color: rgb(4, 128, 0);
    height: 40px;
    width: 223px;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center; 
    display: flex;
    color: white;
}
.pcs{
    font-size: 18px;
    margin-top: -19px;
    font-weight: bold;
    margin-left: -45px;
}
.tambah1{
    margin-top: -36px;
    margin-left: 80px;
}
.box3{
    margin-top: 40px;
    margin-left: 123px;
}
img{
    width: 200px;
}
.besar{
    margin-left: 32%;
}
.kurang{
    margin-left: -120px;
}
.dapur{
    font-style: italic;
    color: white;
    font-size: 20px;
    margin-right: -25%;
    font-family: 'Times New Roman', Times, serif;
}
