body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 30px;
}

img {
    width: 40px;
    height: 25px;
}

span {
    padding-right: 20px;
    float: right;
}

li {
    list-style-type: none;
}
nav{
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}

nav{
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}
.main-1{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    padding: 90px;
}

ul.atas li.satu{
    display: inline;
    list-style: none;
    float: right;
    margin-bottom: 40px;
    text-decoration: none;
}

ul.gambar{
    margin-top: 300px;
}

li.bawah {
    border-bottom: 1px solid gray;
}