body{
    width: 100%;
    background-image: url(../images/donut-background.jpg.png);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
nav{
    display: block;
}
.back{
    /* left: 20px; */
    font-size: 25px;
    /* -webkit-text-stroke: 1px black; */
    color: white;
    margin-left: 25px;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.judul{
    text-align: center;
    position: relative;
    font-size: 50px;
    top: -90px;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
}
main{
    display: block;
}
.center{
    text-align: center;
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(240, 248, 255, 0.95);
    color: black;
    /* margin: 30%; */
    width: 450px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 13px ;
    font-size: 25px;
    font-weight: bold;
    /* border-color: #ea874b; */
    border-color: #ea874b;
    border-width: 3px;
    margin-left: 33%;
}

