body{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
nav{
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}
.main-1{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
    padding: 90px;
}
ul li{
    display: inline;
    list-style: none;
    float: left;
    margin-bottom: 40px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.dapur{
    color: pink;
    font-weight: bold;
    font-size: 18px;
    margin-right: -25%;
}
article::before
article::after{
    content: "";
    display: table;
}
article::after{
    clear: both;
}
article{
    background-color: pink;
    z-index: 9999;
    margin-top: -20px;

}
.donut{
    width: 200px;
    height: 200px;
}
.main-1{
    width: 100%;
    height: auto;
    display: flex;
}
article{
    padding: 50px 0;
    width: 100%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
    top: 0;
    text-align: center;
}
article{
    padding: 20px;
}
.content{
    font-size: 12px;
    justify-content: left;
}
.art-left{
    float: left;
    width: 50%;
}
.art-right{
    float: right;
    width: 50%;
}
span{
    color: white;
}
.best-seller{
    text-align: center;
}
.risoles, .dimsum{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 15px;
}
aside{
    height: auto;
    background-color: rgba(0, 0, 0, 0.504);
    width: 250px;
    border-radius: 50px;
    padding: 2px;
}

.best-1{
    float: left;
    top: 0;
}
.best-2{
    float: right;
    top: 0;
}
.buy{
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 8px white;
}
.arul{
    margin-left: 100px;
}
.right{
    float: right;
    margin-right: 15px;
    font-size: 15px;
    color: white;
}
.art-header{
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 97%;
}
h2{
    color: white;
    text-align: center;
}
.main-1{
    width: 100%;
}
.section-atas{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 200px;
}
.satu, .dua, .tiga, .empat{
    width: 18%;
}
.atas{
    margin-left: 5%;
}
.bawah{
    margin-left: 30%;
}
.satu, .dua, .tiga, .empat{
    display: flex;
    float: left;
    padding: 35px;
}
.lima, .enam{
    display: flex;
    float: left;
    padding: 25px;
}
.judul{
    width: 100%;
    margin-top: 600px;
    position: static;
    text-align: center;
    line-height: 50px;
}
.maping{
    margin-top: 50px;
    width: 100%;
    height: 800px;
    background-color: pink;
}
h3{
    margin-top: 50px;
    /* text-align: center; */
    float: right;
    margin-right: 520px;
    display: block;
    position: relative;
    font-size: 40px;
    color: white;
    text-decoration: underline;
    /* z-index: 99999999; */
}
.map{
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    height: 500px;
}
hr{
    color: whitesmoke;
    width: 100%;
    height: 10px;
    background-color: aliceblue;
}
footer{
    width: 100%;
    height: 360px;
    background-color: black;
    color: white;
}
.info-kebijakan{
    float: left;
    text-align: center;
    margin-left: 0px;
    margin-right: 450px;
    position: relative;
    margin-bottom: 70px;

}
.info-syarat{
    float: left;
    text-align: center;
    margin-left: 250px;
    position: relative;
    margin-right: 150px;
    margin-bottom: 70px;
}
.info-toko{
    float: none;
    text-align: center;
    margin-right: 240px;
    /* margin-top: 0px; */
}
.info-social{
    margin-right: 150px;
    float: right;
    margin-top: -180px;
}
.dapur-kepo{
    margin-left: 110px;
    top: 110px;
    position: relative;
}
.box-satu{
    margin-top: 150px;
    margin-left: 150px;
}
.social-right, .social{
    float: right;
    margin-right: 25px;
    margin-top: -20px;
}
#arul{
    margin-top: 620px;
    position: absolute;
    display: block;
    /* align-items: center; */
    z-index: 9999;
    /* float: right; */
    margin-left: 570px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
}
#arul:hover{
    background-color: white;
    color: black;
}
.social{
    margin-top: -35px;
}
/* responsive style */
iframe{
    margin-top: -120px;
    margin-bottom: 100px;
    z-index: 9999;
    float: left;
    margin-left: 350px;
    position: static;
    
}
/* footer styling */

