body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    margin-top: 100px;
    width: 100%;
    display: inline-flex;
}
.header{
    font-size: 40px;
    color: pink;
    float: left;
    margin-top: -90px;
    margin-left: 13%;
}
.sub-judul{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.google{
    background-color: pink;
    color: white;
    border-style: none;
    border-radius: 10px;
}
nav, .account{
    float: right;
    margin-left: 80%;
    padding: 20px;
}
input{
    width: 40%;
    background-color: pink;
    color: white;
    height: 50px;
    border-radius: 10px;
    border-style: none;
}
label{
    font-weight: bold;
}
.account{
    margin-top: -5px;
    margin-right: -5px;
}
button{
    width: 100px;
    height: 50px;
}
.main-left{
    width: 50%;
}
.google{
    width: 40%;
}
.daftar{
    background-color: pink;
    color: white;
    font-weight: bolder;
    border-style: none;
    border-radius: 10px;
}
.right{
    float: right;
    width: 50%;
    margin-top: -910px;
}
.left{
    padding: 10px;
}
img{
    width: 520px;
    margin-left: 90px;
    margin-top: -910px;
    margin-bottom: 30px;
}
.left, .right{
    margin-top: 30px;
}
.login{
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 40%;
    border-radius: 10px;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
